<?xml version="1.0"?>

<model>
  <name>plant_bell_pepper_yellow</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>


  <author>
    <name>bargav</name>
    <email>bargavanroboticsengineer@gmail.com</email>
  </author>

  <description>
    Model file for yellow bell pepper plant in KB theme.
  </description>
</model>